{% extends 'base.html.twig' %}

{% block title %}Creation Partie{% endblock %}

{% block body %}


    <h1 style="text-align: center">
        Configuration de la Partie
    </h1>
    <br>
    <div class="row" style="background-color: lightgrey; width: 500px; text-align: center; margin: auto; border-radius: 10px">
        <form action="{{ path('create_game') }}" method="post">
        <div>
            <label for="user1">Joueur 1 : {{ app.user.firstName }} {{ app.user.lastName }}</label>

        </div>
        <br>
        <div>
            <label for="user2">Choix Adversaire</label><br>
            <select name="user2" id="user2">
                <option value="">Adversaire</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.display }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-light my-2 my-sm-0 bg-primary">Commencer la partie</button>

        </form>

    </div>
{% endblock %}
