<div class="row">

    <div class="row">
        <h3>Plateau Adversaire</h3>
    </div>

    <div class="col-8">
        {% for card in set.user2HandCards %}
            <img style="width: 100px" src="{{ asset('cartes_main/'~cards[card].picture) }}">
        {% endfor %}
    </div>

    <div class="col-4">
        Actions
    </div>

</div>

<br>

<div class="row">
    <div class="col-8">

        <h3 style="text-align: center">Plateau</h3>

        <img style="width: 100px" src="{{ asset('cartes_plateau/saigo.png') }}">
        <img style="width: 100px" src="{{ asset('cartes_plateau/miyaneko.png') }}">
        <img style="width: 100px" src="{{ asset('cartes_plateau/nekonaga.png') }}">
        <img style="width: 100px" src="{{ asset('cartes_plateau/toneko.png') }}">
        <img style="width: 100px" src="{{ asset('cartes_plateau/nekoshan.png') }}">
        <img style="width: 100px" src="{{ asset('cartes_plateau/nakano.png') }}">
        <img style="width: 100px" src="{{ asset('cartes_plateau/minamoto.png') }}">

    </div>
</div>

<br>

<div class="row">
    <h3> Mon Plateau</h3>
</div>

<div class="row">

    <div class="col-8">
        {% for card in set.user1HandCards %}
            <img style="width: 100px" src="{{ asset('cartes_main/'~cards[card].picture) }}">

            <input type="radio" name="carte_secret" value="{{ card }}"
                   style="display: none"
                   class="choixSecret">
        {% endfor %}
    </div>

    <div class="col-4">
        Mes Actions

        <button id="secret">Secret</button>
        <button  id="depot">Depot</button>
        <button  id="offre">Offre</button>
        <button  id="echange">Echange</button><br>
        <button id="valider" style="display: none">Valider action</button>
    </div>

</div>